::root {
    --color-grey-light-1: #efefef;
    --color-success: #28a745;
    --color-danger: #dc3545;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.pointer{
    cursor: pointer;
}
